<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title>{{ lista.titulo }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-list>
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text" [(ngModel)]="nombreItem" (keyup.enter)="addItem()"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="ligth">Tareas por hacer:</ion-list-header>
        <ion-item-sliding>
            <ion-item color="dark" *ngFor="let l of lista.items" class="animated fadeIn">
                <ion-checkbox slot="start" [(ngModel)]="l.estado" (ionChange)="cambioCheck(l)"></ion-checkbox>
                <ion-label>{{ l.descripcion }}</ion-label>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

</ion-content>