<ion-header class="ion-no-border">
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref='/'></ion-back-button>
        </ion-buttons>
        <ion-title>Agregar lista</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <ion-list>
        <ion-item color="dark">
            <ion-label position="floating">Nuevo item</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header color="ligth">Tareas por hacer:</ion-list-header>
        <ion-item color="dark">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Ver el capitulo 1000 OP</ion-label>
        </ion-item>
    </ion-list>

</ion-content>